<%- include('include/header')  %>

<body>
  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-banner">
            <div class="item item-1">
              <div class="header-text">
                <span class="category">Our Courses</span>
                <h2>With Fusis, Everything Is Easier</h2>
                <!-- <p>Scholar is free CSS template designed by TemplateMo for online educational related websites. This layout is based on the famous Bootstrap v5.3.0 framework.</p> -->
                <div class="buttons">
                  <div class="main-button">
                    <a href="#">Request Demo</a>
                  </div>
                  <div class="icon-button">
                    <a href="#"><i class="fa fa-play"></i> What's Fusis?</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-2">
              <div class="header-text">
                <span class="category">Best Result</span>
                <h2>Get the best result out of your effort</h2>
                <!-- <p>You are allowed to use this template for any educational or commercial purpose. You are not allowed to re-distribute the template ZIP file on any other website.</p> -->
                <div class="buttons">
                  <div class="main-button">
                    <a href="#">Request Demo</a>
                  </div>
                  <div class="icon-button">
                    <a href="#"><i class="fa fa-play"></i> What's the best result?</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-3">
              <div class="header-text">
                <span class="category">Online Learning</span>
                <h2>Online Learning helps you save the time</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporious incididunt ut labore et dolore magna aliqua suspendisse.</p> -->
                <div class="buttons">
                  <div class="main-button">
                    <a href="#">Request Demo</a>
                  </div>
                  <div class="icon-button">
                    <a href="#"><i class="fa fa-play"></i> What's Online Course?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="icon">
              <img src="assets/images/service-01.png" alt="online degrees">
            </div>
            <div class="main-content">
              <h4>Notes</h4>
              <p>"Comprehensive Notes: Essential Concepts and Key Points for Effective Learning and Revision in Your Course. Accessible, Clear, and Well-Organized."</p>
              <div class="main-button">
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="icon">
              <img src="assets/images/service-02.png" alt="short courses">
            </div>
            <div class="main-content">
              <h4>Recorded Lectures</h4>
              <p>"Explore Our Extensive Library of Recorded Lectures: Enhance Your Learning Experience with Expert-Led Sessions Across Various Subjects and Topics."</p>
              <div class="main-button">
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="icon">
              <img src="assets/images/service-03.png" alt="web experts">
            </div>
            <div class="main-content">
              <h4>Practise Papers</h4>
              <p>"Explore a wide range of practice papers designed to help students master their subjects and excel in exams."</p>
              <div class="main-button">
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section about-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-1">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Where shall we begin?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Start your learning journey with FUSIS CLOUD....with our carefully curated resources designed to guide you from basics to mastery.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How do we work together?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  We collaborate through engaging lessons, interactive discussions, practical exercises, continuous feedback, and supportive community, fostering growth and learning.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why SCHOLAR is the best?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Innovative courses, expert instructors, flexible schedules, interactive learning, personalized feedback, and a supportive community make us the best Coaching Classes online.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Do we get the best support?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Our dedication ensures exceptional support, guiding you through every step of your learning journey for optimal success.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6>About Us</h6>
            <h2>What make us the best Coaching Classes online?</h2>
            <p>Innovative courses, expert instructors, flexible schedules, interactive learning, personalized feedback, and a supportive community make us the best Coaching Classes online.</p>
            <div class="main-button">
              <a href="#">Discover More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section courses" id="courses" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Physics</h6>
            <h2>Chapters & Units</h2>
          </div>
        </div>
      </div>
      <ul class="event_filter">
        <li>
          <a class="is_active" id="showALLL" href="#!" data-filter="*">Show All</a>
        </li>
        <li>
          <a href="#!" id="tugle" data-filter=".design">Class XI</a>
        </li>
        <li>
          <a href="#!" id="toggleeee" data-filter=".development">Class XII</a>
        </li>
        <li>
          <!-- <a href="#!" data-filter=".wordpress">Wordpress</a> -->
        </li>
      </ul>
      <div class="row event_box">
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class11 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/UNIT1"><img width="420" height="300" src="assets/images/1st.jpg" alt=""></a>
              <span class="category">CLass XI</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT I - Physical World and Measurement</span>
              <h6>Chapter–2: Units and Measurements</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class11 col-md-6  development">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><img width="420" height="300" src="assets/images/kinematics.jpg" alt=""></a>
              <span class="category">CLass XI</span>
              <!-- <span class="price"><h6><em>$</em>340</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT II - Kinematics</span>
              <h6>Chapter–3: Motion in a Straight Line
                  Chapter–4: Motion in a Plane</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class11 col-md-6 design wordpress">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><video width="420" height="300" autoplay muted loop><source src="assets/images/lawsofmotion.mp4" type="video/mp4"></video></a>
              <span class="category">CLass XI</span>
              <!-- <span class="price"><h6><em>$</em>640</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT III - Laws of Motion</span>
              <h6>Chapter–5: Laws of Motion </h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class11 col-md-6 development">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><video width="420" height="300" autoplay muted loop><source src="assets/images/potential.mp4" type="video/mp4"></video></a>
              <span class="category">CLass XI</span>
              <!-- <span class="price"><h6><em>$</em>450</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT IV - Work, Energy and Power</span>
              <h6>Chapter–6: Work, Energy and Power</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class11 col-md-6 wordpress design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><video width="420" height="300" autoplay muted loop><source src="assets/images/gravitation.mp4" type="video/mp4"></a>
              <span class="category">CLass XI</span>
              <!-- <span class="price"><h6><em>$</em>240</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT V - Gravitation</span>
              <h6>Chapter-8: Gravitation</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class11 col-md-6 wordpress development">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><video width="420" height="300" autoplay muted loop><source src="assets/images/rotation.mp4" type="video/mp4"></a>
              <span class="category">CLass XI</span>
              <!-- <span class="price"><h6><em>$</em>320</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT VI - Motion of System of Particles and Rigid
                Body</span>
              <h6>Chapter–7: System of Particles and
                Rotational Motion</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class11 col-md-6 wordpress design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><img width="420" height="300" src="assets/images/Matter.jpg" alt=""></a>
              <span class="category">CLass XI</span>
              <!-- <span class="price"><h6><em>$</em>240</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT VII - Properties of Bulk Matter</span>
              <h6>Chapter–9: Mechanical Properties of Solids
                Chapter–10: Mechanical Properties of Fluids
                Chapter–11: Thermal Properties of Matter</h6>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class11 col-md-6  development">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><img width="420" height="300" src="assets/images/gases.jpg" alt=""></a>
              <span class="category">CLass XI</span>
              <!-- <span class="price"><h6><em>$</em>340</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT IX - Behaviour of Perfect Gases and Kinetic
                Theory of Gases</span>
              <h6>Chapter–13: Kinetic Theory</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class11 col-md-6 wordpress design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><img width="420" height="300" src="assets/images/thermodynamics.jpg" alt=""></a>
              <span class="category">CLass XI</span>
              <!-- <span class="price"><h6><em>$</em>240</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT VIII - Thermodynamics</span>
              <h6>Chapter–12: Thermodynamics</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class11 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><img width="420" height="300" src="assets/images/spring.jpg" alt=""></a>
              <span class="category">CLass XI</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT X - Oscillations and Waves</span>
              <h6>Chapter–14: Oscillations <br>   
                Chapter–15: Waves</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class12 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><img width="420" height="300" src="assets/images/electrostatics.jpg" alt=""></a>
              <span class="category">Class XII</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT I - Electrostatics</span>
              <h6>Chapter–1: Electric Charges and Fields
                Chapter–2: Electrostatic Potential and
                Capacitance
                </h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class12 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><video width="420" height="300" autoplay muted loop><source src="assets/images/current.mp4" type="video/mp4"></video></a>
              <span class="category">Class XII</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT II - Current Electricity</span>
              <h6>Chapter–3: Current Electricity</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class12 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><video width="420" height="300" autoplay muted loop><source src="assets/images/Magnet.mp4" type="video/mp4"></video></a>
              <span class="category">Class XII</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT III - Magnetic Effects of Current and Magnetism</span>
              <h6>Chapter–4: Moving Charges and Magnetism <br>
                Chapter–5: Magnetism and Matter</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class12 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><img width="420" height="300" src="assets/images/AC.jpg" alt=""></a>
              <span class="category">Class XII</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT IV - Electromagnetic Induction and Alternating
                Currents </span>
              <h6>Chapter–6: Electromagnetic Induction
                Chapter–7: Alternating Current</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class12 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><video width="420" height="300" autoplay muted loop><source src="assets/images/Electromagneticwave.mp4" type="video/mp4"></video></a>
              <span class="category">Class XII</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT V - Electromagnetic Waves </span>
              <h6>Chapter–8: Electromagnetic Waves</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class12 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><img width="420" height="300" src="assets/images/optics.jpg" alt=""></a>
              <span class="category">Class XII</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT VI - Optics </span>
              <h6>Chapter–9: Ray Optics and Optical
                Instruments</h6>
            </div>
          </div>
        </div>
      
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class12 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><video width="420" height="300" autoplay muted loop><source src="assets/images/dual.mp4" type="video/mp4"></video></a>
              <span class="category">Class XII</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT VII - Dual Nature of Radiation and Matter </span>
              <h6>Chapter–11: Dual Nature of Radiation and Matter</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class12 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><img width="420" height="300" src="assets/images/Atoms and Nuclie.jpg" alt=""></a>
              <span class="category">Class XII</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT VIII -Atoms and Nuclei</span>
              <h6>Chapter–12: Atoms <br>
                Chapter–13: Nuclei
                </h6>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer class12 col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="/StudyMaterial"><img width="420" height="300" src="assets/images/semiconductor.jpg" alt=""></a>
              <span class="category">Class XII</span>
              <!-- <span class="price"><h6><em>$</em>160</h6></span> -->
            </div>
            <div class="down-content">
              <span class="author">UNIT IX - Electronic Devices</span>
              <h6>Chapter–14: Semiconductor <br>
                Electronics: Materials, Devices and
                Simple Circuits</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="section fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="250" data-speed="3000"></h2>
                   <p class="count-text ">Happy Students</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="600" data-speed="3000"></h2>
                  <p class="count-text ">Course Hours</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="210" data-speed="3000"></h2>
                  <p class="count-text ">Employed Students</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="counter end">
                  <h2 class="timer count-title count-number" data-to="15" data-speed="3000"></h2>
                  <p class="count-text ">Years Experience</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- 
  <div class="team section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="team-member">
            <div class="main-content">
              <img src="assets/images/member-01.jpg" alt="">
              <span class="category">UX Teacher</span>
              <h4>Sophia Rose</h4>
              <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="team-member">
            <div class="main-content">
              <img src="assets/images/member-02.jpg" alt="">
              <span class="category">Graphic Teacher</span>
              <h4>Cindy Walker</h4>
              <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="team-member">
            <div class="main-content">
              <img src="assets/images/member-03.jpg" alt="">
              <span class="category">Full Stack Master</span>
              <h4>David Hutson</h4>
              <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="team-member">
            <div class="main-content">
              <img src="assets/images/member-04.jpg" alt="">
              <span class="category">Digital Animator</span>
              <h4>Stella Blair</h4>
              <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  -->

  <div class="section testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel owl-testimonials">
            <div class="item">
              <p>"Sir's physics classes transformed my understanding. His clear explanations and engaging teaching style made complex concepts simple. Highly recommended for anyone serious about mastering physics!"</p>
              <div class="author">
                <img src="assets/images/testimonial-author.jpg" alt="">
                <span class="category">FUll Stack Developer</span>
                <h4>Akash Saxena</h4>
              </div>
            </div>
            <div class="item">
              <p>"Thanks to Nitin Sir, I excelled in physics. His passion and dedication inspired me to love the subject."</p>
              <div class="author">
                <img src="assets/images/testimonial-author.jpg" alt="">
                <span class="category">Bachelor of technology <br>
                  (Computer Science & Engineering)</span>
                <h4>Akshat Saxena</h4>
              </div>
            </div>
            <div class="item">
              <p>"Nitin Sir's teaching methods are exceptional. He breaks down difficult topics into manageable parts, making learning physics enjoyable and effective."</p>
              <div class="author">
                <img src="assets/images/testimonial-author.jpg" alt="">
                <span class="category">Software Engineer</span>
                <h4>Vishnu Kumar</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6>TESTIMONIALS</h6>
            <h2>What they say about us?</h2>
            <p>"Real Stories, Real Success: Hear from Our Students. Discover how our teaching methods and expert instructors have made a lasting impact on their academic journeys and personal growth."</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section events" id="events">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Schedule</h6>
            <h2>Upcoming Exams</h2>
          </div>
        </div>
        <div class="col-lg-12 col-md-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-3">
                <div class="image">
                  <img src="assets/images/event-01.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-9">
                <ul>
                  <li>
                    <span class="category">UNIT I</span>
                    <h4>Electrostatics</h4>
                  </li>
                  <li>
                    <span>Date:</span>
                    <h6>16 Feb 2036</h6>
                  </li>
                  <li>
                    <span>Duration:</span>
                    <h6>2 Hours</h6>
                  </li>
                  <li>
                    <span>Class XII</span>
                    <!-- <h6></h6> -->
                  </li>
                </ul>
                <a href="#"><i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-3">
                <div class="image">
                  <img src="assets/images/event-02.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-9">
                <ul>
                  <li>
                    <span class="category">UNIT II</span>
                    <h4>Kinematics</h4>
                  </li>
                  <li>
                    <span>Date:</span>
                    <h6>24 Feb 2036</h6>
                  </li>
                  <li>
                    <span>Duration:</span>
                    <h6>2 Hours</h6>
                  </li>
                  <li>
                    <span>Class XI</span>
                    <!-- <h6>$320</h6> -->
                  </li>
                </ul>
                <a href="#"><i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-3">
                <div class="image">
                  <img src="assets/images/event-03.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-9">
                <ul>
                  <li>
                    <span class="category">UNIT II</span>
                    <h4>Current Electricity</h4>
                  </li>
                  <li>
                    <span>Date:</span>
                    <h6>12 Mar 2036</h6>
                  </li>
                  <li>
                    <span>Duration:</span>
                    <h6>2 Hours</h6>
                  </li>
                  <li>
                    <span>Class XII</span>
                    <!-- <h6></h6> -->
                  </li>
                </ul>
                <a href="#"><i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-us section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  align-self-center">
          <div class="section-heading">
            <h6>Contact Us</h6>
            <h2>Feel free to contact us anytime</h2>
            <p>Thank you for choosing our templates. We provide you best CSS templates at absolutely 100% free of charge. You may support us by sharing our website to your friends.</p>
            <!-- <div class="special-offer">
              <span class="offer">off<br><em>50%</em></span>
              <h6>Valide: <em>24 April 2036</em></h6>
              <h4>Special Offer <em>50%</em> OFF!</h4>
              <a href="#"><i class="fa fa-angle-right"></i></a>
            </div> -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-us-content">
            <form id="contact-form" action="" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <fieldset>
                    <input type="name" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" id="message" placeholder="Your Message"></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('include/footer')  %>

  </body>
</html>